* {
    margin: 0
}

.header {
    height: 100px;
    width: 100%;
    background-color: blue;
    text-align: center;
    position: fixed;
}


.header2 {
    height: 100px;
    width: 100%;
    background-color: red;
    text-align: center;
    position: fixed;
}